<%= javascript_pack_tag 'room-chat' %>

<div id="room-chat">
  <div id='messages'>
    <div class="message">
      <% @messages.each do |message| %>
        <p><%= "#{message.user.email}: #{message.content}" %></p>
        <%= image_tag message.message_image if message.message_image.attached? %>
      <% end %>
    </div>
  </div>

  <user-chat user-id="<%= current_user.id %>" room-id="<%= params['id'] %>" user-email="<%= current_user.email %>"></user-chat>
</div>
